<!DOCTYPE html>
<html lang="en">
<head>
    <title> About </title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../script.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body class="bg-secondary">
<div class="site-navbar navbar navbar-dark bg-dark pb-4">
    <div class="logo">
        <a class="navbar-brand" href="/">
            <i class="fa-solid fa-car-side"></i>
            <span class="cel">Check Engine Light</span>
        </a>
    </div>
    <div class="input-group">
                <span class="input-group-text" id="search-bar">
                    <i class="fas fa-magnifying-glass"></i>
                </span>
        <input type="text" class="form-control" placeholder="Whatcha lookin for?" aria-label="#"
               aria-describedby="search-bar">
        <button type="button" class="btn btn-primary">Search</button>
    </div>
    <nav class="nav-items">
        <!--<a href="forums.html">Forums</a>-->
        <a href="about.html">About</a>
        <a class="btn btn-lg btn-outline-primary px-5 py-2" href="login.html">Login</a>
    </nav>
</div>

<div class="col-lg-10 shadow-lg mt-4" id="content-space" style="background-color: #27374D">
    <div class="mt-4 mb-4 about-container">
        <div class="about-body">
            <h1>About Check Engine Light</h1>
            <p>Welcome to Check Engine Light, the one and only (fake news) online community for car enthusiasts, noobs, and everything in between</p>
            <p>Whether you're an experienced mechanic, a DIY enthusiast, or simply someone looking for information about a specific car problem, you've come to a place, not the right one, but we're sure you'll get an answer!</p>
            <p>Our goal is to create a welcoming and inclusive environment where car enthusiasts of all levels of expertise can learn, grow, and connect with other members of the car community.</p>
            <p>Join our presidential community today and gain access to knowledge and resources exclusively available at Check Engine Light!</p>
        </div>
    </div>
</div>

</body>

</html>