<!DOCTYPE html>
<html lang="en">
<head>
    <title> Update Profile </title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../script.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body class = "bg-dark">

<form action="/editemail" method="post">
    <div class="wrapper">
        <div class="login-form">
            <h2>Edit email</h2>
            <div class="input-box">
                <span class="icon"><icon name="mail-outline"></icon></span>
                <input name="emailInput" type="email" id = "emailInput" required>
                <label>Email</label>
            </div>
            <button type="submit" class="btn btn-success">Update</button>
        </div>
    </div>
</form>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>