<!DOCTYPE html>
<html>
<head>
    <title> File Not Found </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>

<div id="container">
    <div id="content">
        <h1>{{error_code}}</h1>
        <p> {{error_message}}</p>
    </div>
</div>

</body>
</html>